* {
    margin: 0;
    padding: 0;
}

 body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

            /* NAVBAR CONTAINER */
        .navbar {
            background-color: #1e1e1e;
            color: white;
            padding: 10px 20px;
        }
        
            /* TOP ROW */
        .nav-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            /* LOGO */
        .logo {
            font-size: 24px;
            font-weight: bold;
        }

            /* SEARCH BAR */
        .search-container {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .search-container input {
            width: 40%;
            padding: 8px;
            border-radius: 20px;
            border: none;
            outline: none;
        }

            /* PROFILE ICON */
        .profile {
            font-size: 20px;
            cursor: pointer;
        }

            /* NAV LINKS ROW */
        .nav-links {
            display: flex;
            justify-content:flex-start;
            gap: 50px;
            margin-top: 10px;
            border-top: 1px solid #444;
            padding-top: 10px;
        }

        .nav-links a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }

        .nav-links a:hover {
            color: #4caf50;
        }

            /* MAIN CONTENT */
        .main {
            padding: 40px;
            text-align: center;
        }
            
            
        