<footer class="footer">

    <div class="footer-content">

      <h2>DiscGolf Hub</h2>

      <div class="social-links">

        <a href="https://www.instagram.com">
          <img src="/images/instagram.png" alt="Instagram">
        </a>

        <a href="https://www.youtube.com">
          <img src="/images/youtube.png" alt="YouTube">
        </a>

        <a href="https://x.com/home">
          <img src="/images/twitter.png" alt="Twitter">
        </a>

        <a href="https://www.linkedin.com/in/trent-beerman/">
          <img src="/images/linkedin.png" alt="LinkedIn">
        </a>

      </div>

      <p>© 2026 DiscGolf Hub</p>

    </div>

  </footer>